body {
    background-image: url("./assets/bikeShop.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px;
    /* background-color: rgba(255, 255, 255, 0.791); */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
    margin-bottom: 50px;
    /* height: 500px; */
}

.grid-item_view {
    background-color: rgba(180, 244, 150, 0.675);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.grid-item_add {
    background-color: rgba(244, 150, 150, 0.675);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.grid-item_view:hover {
    background-color: #90a729;
    color: #ffffff;
    cursor: pointer;
}

.grid-item_add:hover {
    background-color: #c74528;
    color: #ffffff;
    cursor: pointer;
}

.productCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: rgba(185, 243, 221, 0.675);
    margin-top: 8px;
    padding: 4px;
}

.productCard > p{
    background-color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    
}

.productCard > button {
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(37, 125, 249, 0.675);
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.productCard > button:hover {
    background-color: #fdfdfd;
    color: #626262;
}

.addSale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 1fr;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input > label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.input > input {
    display: inline-block;
    width: 200px;
}

.addSale > h1 {
    text-align: center;
    margin-bottom: 20px;
}



.greenButton {
    background-color: #00ce07;
    color: white;
    border: none;
    border-radius: 5px;
    margin:10px;
    padding: 10px 20px;
    cursor: pointer;
}

.greenButton:hover {
    background-color: #3e8e41;
}

.redButton {
    background-color: #e93838;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.redButton:hover {
    background-color: #8e3e3e;
}

.commission {
    display: flex;
}

.left {
  max-width: 150px;
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.left input {
  margin-bottom: 10px;
}

.right {
  flex: 1;
  padding: 20px;
}


.report {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.report>div {
    padding: 10px;
    box-sizing: border-box;
    background-color: #34dd9ca9;
    border-radius: 10%;
}


.saleDetail {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 10px;
}

.saleDetail > div {
	padding: 10px;
	box-sizing: border-box;
	background-color: #f0f0f0;
}



h3 {
	margin: 0;
}

p {
    margin: 0;
}



