.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    height: 500px;
}

.grid-item {
    background-color: #ccc;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    transition: background-color 0.5s;
}

.grid-item:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.productCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #c1c1c1;
    margin-top: 8px;
    padding: 4px;
}

.productCard > p{
    background-color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    
}

.productCard > button {
    margin-top: 10px;
    padding: 5px;
    background-color: #626262;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.productCard > button:hover {
    background-color: #fdfdfd;
    color: #626262;
}

.addSale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 1fr;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addSale > h1 {
    text-align: center;
    margin-bottom: 20px;
}



.greenButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin:10px;
    padding: 10px 20px;
    cursor: pointer;
}

.greenButton:hover {
    background-color: #3e8e41;
}

.redButton {
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.redButton:hover {
    background-color: #8e3e3e;
}